{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container-xxl text-center">
  <div class="row justify-content-center g-3 p-2">
    <!-- PROFILE INFO -->
    <div class="col-12 col-lg-4">
      <div class="card" style="border-radius: 15px">

        <div class="card-body text-center">
          <div class="mt-3 mb-1 d-flex justify-content-center">
            <!-- AVATAR -->
            <div style="width: 100px; height: 100px;">{{ viewed_user.profile.avatar|safe }}</div>
          </div>
          <h4 class="mb-2">{{ fullname }}</h4>
          <p class="text-muted">
            @{{ viewed_user.username }} <span class="mx-2">|</span>
            <a href="{{ viewed_user.profile.personal_web }}"
              target="_blank">{{ viewed_user.profile.personal_web|truncatechars:30 }}</a>
          </p>
          {% if viewed_user == request.user %}
          <a class="link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
            href="{% url 'edit-profile' %}">Edit <i class="fa-solid fa-pen-to-square fa-sm"></i> </a>
          {% endif %}
          <div class="my-4 pb-2 d-flex flex-row flex-wrap justify-content-center">
            <div class="col-12">
              <p>Chats in:</p>
            </div>
            {% for language in talking_langs %}
            {% include 'components/language_badge.html' with language=language show_count=False %}
            {% endfor %}
          </div>
          <p>{{ viewed_user.profile.bio_field }}</p>
          <div class="d-flex justify-content-evenly text-center mt-5 mb-2">
            <div>
              <p class="mb-2 h5">3</p>
              <p class="text-muted mb-0">Participates</p>
            </div>
            <div class="px-3">
              <p class="mb-2 h5">{{ room_messages.count }}</p>
              <p class="text-muted mb-0">Messages</p>
            </div>
            <div>
              <p class="mb-2 h5">{{ rooms.count }}</p>
              <p class="text-muted mb-0">Hosts</p>
            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- MAIN BODY -->
    <div class="col-12 col-md-8 col-lg-5 overflow-y-auto" style="max-height: 100vh;">
      <!-- ROOM CARDS -->
      {% include 'components/rooms_list.html' %}
    </div>
    <!-- RIGHT ACTIVITY FEED BAR -->
    <div class="col-12 col-md-4 col-lg-3 rounded-3 overflow-y-auto" style="max-height: 80vh;">
      {% include 'components/activity_feed.html' %}
    </div>
  </div>
</div>
{% endblock content %}