@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.animated-background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(22, 29, 61);
    background: linear-gradient(122deg, rgba(22, 29, 61, 1) 40%, rgba(4, 34, 91, 1) 100%);
    overflow: hidden;
}

.animated-background span {
    width: 44vmin;
    height: 44vmin;
    border-radius: 44vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 8;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.animated-background span:nth-child(0) {
    color: #3f4d8a;
    top: 8%;
    left: 64%;
    animation-duration: 405s;
    animation-delay: -258s;
    transform-origin: 7vw 12vh;
    box-shadow: -88vmin 0 11.110158709615256vmin currentColor;
}

.animated-background span:nth-child(1) {
    color: #3f4d8a;
    top: 10%;
    left: 27%;
    animation-duration: 147s;
    animation-delay: -180s;
    transform-origin: 2vw -2vh;
    box-shadow: 88vmin 0 11.23579034571732vmin currentColor;
}

.animated-background span:nth-child(2) {
    color: #3f4d8a;
    top: 40%;
    left: 39%;
    animation-duration: 216s;
    animation-delay: -199s;
    transform-origin: 15vw 18vh;
    box-shadow: 88vmin 0 11.591868704010803vmin currentColor;
}

.animated-background span:nth-child(3) {
    color: #3f4d8a;
    top: 93%;
    left: 16%;
    animation-duration: 161s;
    animation-delay: -337s;
    transform-origin: 1vw 3vh;
    box-shadow: 88vmin 0 11.60966308030525vmin currentColor;
}

.animated-background span:nth-child(4) {
    color: #3f4d8a;
    top: 69%;
    left: 2%;
    animation-duration: 231s;
    animation-delay: -169s;
    transform-origin: 20vw -20vh;
    box-shadow: 88vmin 0 11.431819987936665vmin currentColor;
}