<nav class="navbar bg-body-secondary">
    <div class="container d-flex ">
        <a class="navbar-brand" href="#">
            <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
        </a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a class="nav-link" href="#">
            <button class="btn btn-outline-primary">Log in</button>
        </a>
    </div>
</nav>