{% load static %}
<!-- Navbar -->
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <!-- LOGO -->
      <a href="{% url 'homepage' %}"
        class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <img src="{% static 'img/logo1.svg' %}" alt="Language Buddies" width="200" height="50">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-warning">Overview</a></li>
        <li><a href="#" class="nav-link px-2 link-warning">Inventory</a></li>
        <li><a href="#" class="nav-link px-2 link-warning">Customers</a></li>
        <li><a href="#" class="nav-link px-2 link-warning">Products</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="{% url 'homepage' %}" method="GET">
        <input name="q" type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <!-- PROFILE PART STARTS -->
      {% if user.is_authenticated %}
      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="{% static 'img/user-profile-icon.svg' %}" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" style="color: #fff;">
          <li><a class="dropdown-item" href="{% url 'profile' request.user.id %}">My profile</a></li>
          <li><a class="dropdown-item" href="{% url 'edit-profile' %}">Edit profile</a></li>
          <li><a class="dropdown-item" href="#">My rooms</a></li>
          <li><a class="dropdown-item" href="#">New room</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
        </ul>
      </div>
      <!-- PROFILE PART ENDS -->
      {% else %}
      <a class="nav-link" href="{% url 'login' %}">
        <button class="btn btn-primary">Log in</button>
      </a>
      {% endif %}
    </div>
  </div>
</header>