{% extends 'main.html' %} {% block content %}
<div class="container-xxl text-center">
  <div class="row justify-content-center g-5 p-2">
    <!-- LEFT NAVBAR -->
    <div class="col-12 col-md-2 py-2 rounded-3 glass-transparent">
      <div class="d-flex flex-row flex-md-column flex-wrap">
        <h4>Languages</h4>
        {% for language in languages %}
        <div class="d-block my-md-1 mx-1 mx-md-0">
          <a href="{% url 'homepage' %}?q={{ language.name }}">
            <span
              class="badge align-items-center p-1 pe-2 bg-primary rounded-pill">
              <img class="rounded-circle me-1" width="15" height="15"
                src="https://hatscripts.github.io/circle-flags/flags/pl.svg"
                alt="">
              {{ language.name }}
              <span class="vr mx-2"> {{ language.count }} </span>
            </span></a>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- MAIN BODY -->
    <div class="col-12 col-md-7">
      <div class="row">
        <div
          class="col-12 mb-5 d-flex justify-content-between align-items-center">
          <div class="text-start">
            <figure>
              <blockquote class="blockquote">
                <p>Learn the language with others!</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                {{ rooms.count }} chatting rooms available
              </figcaption>
            </figure>
          </div>
          <a href="{% url 'create-room'%}"
            class="btn btn-warning text-end">Create a room</a>
        </div>
        <!-- ROOM CARDS -->
        {% include 'base/components/rooms_list.html' %}
      </div>
    </div>
    <!-- RIGHT ACTIVITY FEED BAR -->
    <div class="col-12 col-md-3 rounded-3 glass-transparent">
      {% include 'base/components/activity_feed.html' %}
    </div>
  </div>
</div>

{% endblock content %}