{% extends 'main.html' %} {% block content %} {% load static %}
<div class="container-xxl text-center">
  <div class="row g-5">
    <!-- LEFT LANGUAGE LIST -->
    <div class="col-12 col-lg-2 py-lg-2 rounded-3 glass-transparent">
      <div class="d-flex flex-row flex-md-column flex-wrap gap-2 mb-3">
        <h4 class="col-12">Languages</h4>
        <!-- BADGE FOR ALL LANGS -->
        <div class="d-flex flex-row my-md-1 mx-1 mx-l-0">
          <a href="{% url 'homepage' %}">
            <span
              class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
              <img class="rounded-circle me-1" width="15" height="15"
                src="{% static 'img/earth-icon.svg' %}" alt="">
              All languages - {{ total_room_count }}
            </span>
          </a>
        </div>
        <!-- BADGE FOR EACH LANG -->
        {% for language in languages %}
        <div class="d-flex my-md-1 mx-1 mx-l-0">
          {% include './components/language_badge.html' with language=language show_count=True %}
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- MAIN BODY -->
    <div class="col-12 col-md-8 col-lg-7">
      <div class="row">

        <!-- CREATE AND INFOR ABOUT ALL ROOMS -->
        <div
          class="col-12 mb-5 d-flex justify-content-between align-items-center">
          <div class="text-start">
            <figure>
              <blockquote class="blockquote text-white">
                <p>Learn the language with
                  others!</p>
              </blockquote>
              <figcaption class="blockquote-footer text-white">
                {{ rooms.count }} chatting rooms available
              </figcaption>
            </figure>
          </div>
          <a href="{% url 'create-room'%}"
            class="btn btn-warning text-end">Create a room</a>
        </div>

        <!-- ROOM LIST -->
        {% include 'base/components/rooms_list.html' %}
      </div>
    </div>

    <!-- RIGHT ACTIVITY FEED BAR -->
    <div class="col-12 col-md-4 col-lg-3 rounded-3 glass-transparent">
      {% include 'base/components/activity_feed.html' %}
    </div>
  </div>
</div>

{% endblock content %}