{% extends 'main.html' %}
{% block content %}
<div class="container py-3">
    <div class="row d-flex">
        <div class="d-flex flex-column col-2 m-auto mt-5 rounded-3 glass p-3 overflow-y-auto"
            style="max-height: 60vh;">
            <h5>Room members:</h5>
            {% for member in members %}
            <p class="lh-1">@{{ member.username }}</p>
            {% endfor %}
        </div>
        <!-- CHAT SECTION -->
        <div class="d-flex flex-column col-9 m-auto mt-5 rounded-3 glass p-3">
            <!-- CHAT WINDOW -->
            <div class="d-flex flex-column overflow-y-scroll"
                style="max-height: 60vh;">
                {% for message in messages %}
                {% if message.user == request.user %}
                <!-- MSG FROM LOGGED AUTHOR USER -->
                <div class=" col-9 align-self-end text-start bg-primary-subtle
                rounded-2 px-3 py-1 m-1 text-break">
                    <div
                        class="d-flex flex-row col-12 justify-content-end align-items-center gap-3">
                        <small>@{{ message.user }}</small>
                        <small
                            class="text-body-secondary">{{ message.sent | timesince}}
                            ago</small>
                        <!--  DELETE MESSAGE-->
                        <div class="btn-group dropstart">
                            <a href="" class="link-success"
                                data-bs-toggle="dropdown"><i
                                    class="fa-solid fa-ellipsis-vertical fa-l"></i></a>
                            <ul class="dropdown-menu">
                                <!-- Dropdown menu links -->
                                <li><a class="dropdown-item link-danger"
                                        href="{% url 'delete-message' message.id %}"
                                        onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="my-1">
                        {{ message.body }}
                    </div>
                </div>
                {% else %}
                <!-- MSG FROM OTHER USERS -->
                <div
                    class="col-9 align-self-start text-start bg-success-subtle rounded-2 px-3 m-1 text-break">
                    <div
                        class="d-flex flex-row col-12 justify-content-end align-items-center gap-3">
                        <small>@{{ message.user }}</small>
                        <small
                            class="text-body-secondary">{{ message.sent | timesince}}
                            ago</small>
                    </div>
                    <div class="my-1">
                        {{ message.body }}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <!-- SEND MESSEAGE BOX -->
            <div class="d-flex m-1 rounded-3 glass p-3 message-form">
                <form method="POST" action="" class="flex-grow-1">
                    <div class="d-flex flex-row align-items-center">
                        {% csrf_token %}
                        <div class="flex-grow-1">
                            <textarea class="form-control" id="MesseageTextArea"
                                rows="2" placeholder="Aa" name="body"
                                type="text"></textarea>
                        </div>
                        <div>
                            <button type="submit" class="btn link-primary"><i
                                    class="fa-regular fa-paper-plane fa-xl"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if request.user.is_authenticated %}

        {% endif %}
    </div>
</div>
{% endblock content %}